header {
  width: 100%;
  max-width: 1400px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

.nav {
  display: flex;
  flex-direction: row;
}

.navlink {
  margin: 5px;
  color: black;
  padding: 5px 10px;
  font-weight: 900;
  outline: none;
  text-decoration: none;
}

.logo-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 10px;
  background-color: crimson;
}

.logo {
  margin: 5px;
  color: #323232;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: 900;
  outline: none;
  text-decoration: none;
}